<div>
    <h4 class="prayer-title">Litany of the Blessed Virgin Mary</h4>
    <p>
        Lord have mercy... <span style="color: red;">Lord have mercy</span> <br>
        Christ have mercy... <span style="color: red;">Christ have mercy</span> <br>
        Lord have mercy... <span style="color: red;">Lord have mercy</span> <br> <br>

        God the Father in heaven... <span style="color: red;">have mercy on us</span> <br>
        God the Son Redeemer of the world... <span style="color: red;">have mercy on us</span> <br>
        God the Holy Spirit... <span style="color: red;">have mercy on us</span> <br>
        Holy Trinity One God...<span style="color: red;">have mercy on us</span> <br> <br>

        Holy Mary... <span style="color: red;">Pray for us</span> <br>
        Holy Mother of God <br>
        Most Honored of Virgins <br>
        Mother of Christ <br>
        Mother of Divine grace <br>
        Mother of Hope <br>
        Mother most pure <br>
        Mother most chaste <br>
        Mother and virgin <br>
        Sinless Mother <br>
        Dearest of mothers <br>
        Model of motherhood <br>
        Mother of good counsel <br>
        Mother of our Creator <br>
        Mother of our Savior <br>
        Mother of Mercy <br>
        Virgin most prudent <br>
        Virgin rightly praised <br>
        Virgin rightly renowned <br>
        Virgin most powerful <br>
        Virgin gentle in mercy <br>
        Faithful virgin<br>
        Mirror of justice <br>
        Seat of wisdom <br>
        Cause of our joy <br>
        Shrine of the Spirit <br>
        Glory of Israel <br>
        Vessel of selfless devotion <br>
        Mystical Rose <br>
        Tower of David <br>
        Tower of Ivory <br>
        House of gold <br>
        Ark of the covenant <br>
        Gate of heaven <br>
        Morning Star <br>
        Health of the sick <br>
        Refuge of sinners <br>
        Comfort of migrants <br>
        Comforter of the troubled <br>
        Help of Christians <br>
        Queen of angels <br>
        Queen of patriarchs and prophets <br>
        Queen of apostles and martyrs <br>
        Queen of confessors and virgins <br>
        Queen of all saints <br>
        Queen conceived without original sin <br>
        Queen assumed into heaven <br>
        Queen of the most holy rosary <br>
        Queen of peace <br>
    </p>
    <p>
        Lamb of God, You take away the sins of the world,
        <span style="color: red;">Have mercy on us.</span>
        <br>
        Lamb of God, You take away the sins of the world,
        <span style="color: red;">Have mercy on us.</span>
        <br>
        Lamb of God, You take away the sins of the world,
        <span style="color: red;">Grant us peace.</span>
    </p>

</div>