<div>
    <h4>St. Joseph Song</h4>
    <p>
        How could it be<br>
        This baby in my arms, sleeping now so peacefully<br>
        The Son of God the angel said<br>
        How could it be?<br>
        <br>
        Lord, I know he’s not my own,<br>
        Not of my flesh, not of my bone.<br>
        Still, fatherless this baby be the Son of my love.<br>
        <br>
        Father, show me where I fit into this plan of yours.<br>
        How can a man be father to the Son of God?<br>
        Lord, for all my life I’ve been a simple carpenter.<br>
        How can I raise a king?<br>
        How can I raise a king?<br>
        <br>
        He looks so small, His face and hands so fair.<br>
        And when He cries, the sun just seems to disappear.<br>
        And when He laughs, it shines again.<br>
        How could it be?<br>
        <br>
        Father, show me where I fit into this plan of Yours.<br>
        How can a man be father to the Son of God?<br>
        Lord, for all my life I’ve been a simple carpenter.<br>
        How can I raise a king?<br>
        How can I raise a king?<br>
        <br>
        How could it be<br>
        This baby in my arms, sleeping now so peacefully<br>
        The Son of God, the angel said.<br>
        How could it be?<br>
        How could it be?

    </p>
</div>