<div>
    <h4>Prayer of St. Ignatius of Loyola </h4>
    <strong> St. Ignatius’ PRAYER OF SURRENDER:</strong> Take O Lord, and receive my
    entire liberty, my memory, my understanding and my whole will. All that I
    am and all that I possess you have given me. I surrender it all to you to be
    disposed of according to your will. Give me only your love and your grace,
    with these I will be rich enough, and will desire nothing more. <br>

    <strong> St. Ignatius’ PRAYER OF GENEROSITY: </strong>Dearest Lord, teach me to be
    generous, teach me to serve you as you deserve; to give and not to count the
    cost, to fight and not to heed the wounds, to labor and not to seek for rest, to
    give of myself and not to ask for reward, except the reward of knowing that I
    will do your will. <br>

    <strong> St. Ignatius’ PRAYER OF THREE DESIRES: </strong>O God, please give me the
    desire to desire what you desire. Amen.
</div>