<div>
    <h4>Litany of the Most Holy Name of Jesus</h4>
    <p>
        <span style="color: red;">All:</span><br>
        Lord have mercy on us<br>

        Christ have mercy on us<br>

        Lord have mercy on us<br>

        Jesus hear us<br>

        Jesus graciously hear us<br>
        <br>


        God the Father of heaven ... <span style="color: red;">have mercy on us</span> <br>

        God the Son Redeemer of the world ... <span style="color: red;">have mercy on us</span><br>

        God the Holy Ghost ... <span style="color: red;">have mercy on us</span><br>

        Holy Trinity One God<br>

        Jesus, Son of the living God.<br>

        Jesus, brightness of eternal light<br>

        Jesus, King of glory<br>

        Jesus, Son of justice<br>

        Jesus, Son of the Virgin Mary<br>

        Jesus, most amiable<br>

        Jesus, the mighty God<br>

        Jesus, Father of the world to come<br>

        Jesus, Angel of great counsel<br>

        Jesus, most powerful<br>

        Jesus, most patient<br>

        Jesus, most obedient<br>

        Jesus, meek and humble of heart<br>

        Jesus, lover of chastity<br>

        Jesus, lover of us<br>

        Jesus, God of peace<br>

        Jesus, Author of life<br>

        Jesus, Example of virtues<br>

        Jesus, Zealous lover of souls<br>

        Jesus, our God<br>

        Jesus, our refuge<br>

        Jesus, Father of the poor<br>

        Jesus, treasure of the faithful<br>

        Jesus, good Shepherd<br>

        Jesus, true light<br>

        Jesus, eternal wisdom<br>

        Jesus, infinite goodness<br>

        Jesus, our way and our life<br>

        Jesus, joy of angels<br>

        Jesus, King of Patriarchs<br>

        Jesus, Master of the Apostles<br>

        Jesus, Teacher of the Evangelists<br>

        Jesus, strength of martyrs<br>

        Jesus, light of confessors<br>

        Jesus, purity of virgins<br>

        Jesus, crown of all saints<br>
        <br>


        Be merciful, <span style="color: red;">spare us, O Jesus</span> <br>

        Be merciful, <span style="color: red;">graciously hear us , O jesus</span> <br>
        <br>


        From all evil,<span style="color: red;"> deliver us, O Jesus</span><br>

        From all sin,<span style="color: red;"> deliver us, O Jesus</span><br>

        From Thy wrath,<span style="color: red;"> deliver us, O Jesus</span><br>

        From the snares of the devil<br>

        From the spirit of fornication<br>

        From everlasting death<br>

        From the neglect of Thine inspirations<br>

        By the mystery of Thy holy incarnation<br>

        By Thy nativity<br>

        By Thine infancy<br>

        By Thy most divine life<br>

        By Thy labors<br>

        By Thy agony and passion<br>

        By Thy cross and dereliction<br>

        By Thy sufferings<br>

        By Thy death and burial<br>

        By Thy resurrection<br>

        By Thine ascension<br>

        By Thine institution of the most holy Eucharist<br>

        By Thy joys<br>

        By Thy glory<br>
        <br>




        Lamb of God, You takest away the sins of the world,<span style="color: red;"> Spare us, O Jesus. </span><br>
        <br>


        Lamb of God, You takest away the sins of the world,<span style="color: red;"> Hear us, O Jesus. </span><br>
        <br>


        Lamb of God, You takest away the sins of the world,,<span style="color: red;">Have mercy on us, O Jesus.</span> <br>
        <br>


        Jesus, hear us<br>

        Jesus, graciously hear us<br>

        <br>

        Let us pray. O Lord Jesus Christ, who hast said: ask and ye shall receive, seek and ye shall find, knock it
        shall be opened unto you; mercifully attend to our supplications, and grant us the gift of Thy divine charity,
        that we may ever love Thee with our whole heart and all our words and deeds, and may never cease from praising
        Thee.

        <br>

        Make us, O Lord, to have a perpetual fear and love of Thy holy name, for Thou never failest to help and govern
        those whom Thou dost bring up Thy steadfast fear and love; who livest and reignest for ever and ever. Amen
    </p>
</div>