<h4 class="prayer-title">CONSECRATION TO THE BLESSED MOTHER</h4>
<p>
    <b>ALL:</b> I, ____________________, a faithles sinner, renew and ratify today in thy hands, O Immaculate Mother,
    the
    vows of my baptism; I renounce forever Satan, his pomps and works, and I entirely give myself to Jesus Christ, the
    Incarnate Wisdom, to carry my cross after Him all the days of my life, and to be more faithful to Him than I have
    ever been before.
</p>
<p style="text-indent: 50px;">
    In the presence of the heavenly court, I choose thee this day for my Mother and Mistress. I deliver and consecrate
    to thee, as thy slave, my body and soul, my goods, both interior and exterior, and even the value of all my good
    actions, past, present, and future; leaving to thee the entire and full right of disposing of me and all that belongs to
    me, without exeption, according to thy good pleasure, for the greater glory of God, in time and in eternity. Amen.
</p>