<div>
    <h4 class="prayer-title">Hail Holy Queen</h4>
    <p>
        <span style="color: red;">All:</span>  Hail, Holy Queen, Mother of Mercy, our life, our sweetness and our hope. To thee do we cry poor banished
        children of Eve. To thee do we send up our sighs, mourning and weeping in this valley of tears. Turn then most
        gracious advocate thine eyes of mercy towards us, and after this our exile, show unto us the blessed fruit of
        thy womb, Jesus.
        O clement, O loving, O sweet Virgin Mary.
    </p>

    <p>
        <span style="color: red;">Leader: </span> Pray for us, O holy mother of God. <br>
        <span style="color: red;">All:</span> That we may be made worthy of the promises of Christ.
    </p>

</div>