<div>
    <p>
        <span style="color: red;">(Repeat for each of 5 decades)</span> <br>
        Eternal Father, I offer you the Body and Blood, <br>
        Soul and Divinity of Your Dearly Beloved Son, Our Lord, Jesus Christ. <br>
        In atonement for our sins and those of the whole world.
    </p>
    <p>
        <span style="color: red;">(Repeat 10x for each decade, For five decades)</span> <br>
        For the sake of His sorrowful Passion. <br>
        Have mercy on us and of the whole world. <br>
    </p>
    <div>
        <span style="color: red;">(Repeat 3X) </span>
    </div>
    <p>
        Holy God, Holy Mighty One, Holy Immortal One, have mercy on us and on the whole world. 
    </p>
    <div>
        <span style="color: red;">(Repeat 3X) </span>
    </div>
    <p>
        O Blood and water, which gushed forth from the heart of Jesus, as a Fount of mercy for us, I trust in you. 
    </p>
</div>