<h4 class="prayer-title">ACT OF CONSECRATION TO THE SACRED HEART</h4>
<p style="text-indent: 50px;">
    O Sacred Heart of Jesus, to thee I consecrate and offer up my person and my life, my actions, trials, and
    sufferings, that my entire being may henceforth only be employed in loving, honoring and glorifying Thee. This is my
    irrevocable will, to belong entirely to Thee, and to do all for Thy love, renouncing with my whole heart all that
    can displease Thee.
</p>
<p style="text-indent: 50px;">
    I take Thee, O Sacred Heart, for the sole object of my love, the protection of my life, the pledge of my salvation,
    the remedy of my frailty and inconstancy, the reparation of all the defects of my life, and my secure refuge at the
    hour of my death. Be Thou, O Most Merciful Heart, my justification before God Thy Father, and screen me from His
    anger which I have so justly merited. I fear all from my own weakness and malice, but placing my entire confidence
    in Thee, O Heart of Love, I hope all from Thine infinite Goodness. Annihilate in me all that can displease or resist
    Thee. Imprint Thy pure Love so deeply in my heart that I may never forget Thee or be separated from Thee. I beseech
    Thee, through Thine infinite Goodness, grant that my name be engraved upon Thy Heart, for in this I place all my
    happiness and all my glory, to live and to die as one of Thy devoted servants. Amen.
</p>