<p>
    <b>Leader:</b> Let us now be quiet, quiet our souls as we prepare ourselves to be in the presence of Our Lord and Our Blessed
    Mother.

    Let us invite them, our group’s guardian angel, and all the angels and saints to pray for and with us.
    <span>
        While the
        hymn to the Holy Spirit is playing, let us meditate on the awesomeness of God and His working in our lives with
        grateful hearts.
    </span>
</p>
<!-- <div class="speaker-speech">
    <div class="speaker">

    </div>
    <div class="speech">

    </div>
</div> -->
<p>
    <span style="color: red">(PLAY HOLY SPIRIT HYMN)</span>
</p>
<p>
    <span> <b>ALL:</b> "Almighty Father, I place the Precious Blood of Jesus before my lips before I pray, that my
        prayers may be purified before they ascend to Your divine altar."</span>
</p>
<h4 class="prayer-title">OPENING PRAYERS</h4>

<table>
    <tbody>
        <tr *ngFor="let pray of openingPrayers">
            <td class="speaker">
                <div> <b>{{ pray.speaker }}</b></div>
            </td>
            <td>
                <div>{{ pray.speech }} </div>
            </td>
        </tr>
    </tbody>
</table>
<h4 class="prayer-title">SPIRITUAL COMMUNION</h4>
<table>
    <tbody>
        <tr>
            <td class="speaker">
                <div><b> Leader:</b></div>
            </td>
            <td>
                <div>
                    Let us be bonded together in the grace of Spiritual Communion.
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>ALL:</b>
                </div>
            </td>
            <td>
                <div>
                    Lord, I am heartily sorry for my sins. With Thy divine aid, I promise not to sin and come to any
                    occasion of sin. My Jesus, I believe that Thou art truly present in the Blessed Sacrament. I love
                    Thee above all things, and I desire to receive Thee in my soul. Since I cannot now receive Thee
                    sacramentally, please come to my heart at least spiritually. <span style="color:red">(PAUSE)</span>
                    I now embrace Thee as already being there, and I unite myself entirely to Thee. Never allow me to be
                    separated from Thee. Amen.
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h4 class="prayer-title">PRAYER INTENTIONS</h4>
<p>
    <b>ALL:</b> God our Father, we praise and glorify you. We thank you for the grace to respond
    to your call to gather in prayer today. We are here to offer you our past, present and future
    sufferings with those of Jesus on the Cross in the unity of the Holy Spirit. We are here to
    pray for Mary’s intentions in Fatima for the conversion of sinners and salvation of souls,
    world peace and reparation of the sins of the world.
</p>
<p style="text-indent: 50px;">
    We ask Saint Joseph to walk with us through the mysteries of the Holy Rosary of his
Blessed spouse, to intercede for the protection of the Catholic church, Pope Francis, Bishop
Matano, the clergy and religious. We repeat Jesus prayer in Gethesemane for Christian
unity so that there will be one single flock under one single shepherd. May all fallen away
Catholics return to the one true faith. We pray for those who persecute and try to destroy
the Catholic church from within and without and for persecuted Catholics all over the
world.
</p>
<p style="text-indent: 50px;">
    May there be an increase of vocation in the priesthood and the consecrated religious life and
abundant holiness in those we already have. Guide and enlighten all government officials in
the United States and the Philippines to use Christian principles and values in their decision
making so that they may foster peace and prosperity in these countries and in the world.
</p>
<p style="text-indent: 50px;">
    We pray that the poor, the underprivileged and the marginalized will find security and
comfort through the generosity of others. May your justice prevail on earth for them.
Please guard the sanctification and reconciliation of families, that they will come to know
God’s healing love and mercy. Have mercy on the holy souls in purgatory, especially those
whom we knew and loved, that they will soon share God’s glory in heaven. We pray that
your faithful servants Father Baker, Father Seelos, Sister Lucy, Archbishop Fulton Sheen,
Bishops Alfredo Obviar, Alfredo Verzosa, and Teofilo Camomot may soon be canonized.

We beg you for the end of abortion, abuse of children and the elderly, for respect for
the dignity of human life in all its stages, and please do not take your gaze off the
unbaptized and missing children.
</p>
<p style="text-indent: 50px;">
    We thank you for all the blessings, known and unknown. We pour on you like water all
our afflictions and sins for you to forgive and take away. Uproot everything in us that
displeases you. May we go after your Heart and Mary’s and not exclude anyone from
our love. Please give us our needs, known and unknown. You know them better than
we do. We pray for the special intentions of everyone gathered here today and of those
who cannot be with us. <i style="color: red;" (click)="openPrayerIntentions()">(Mention special intentions.)</i>
</p>
<p style="text-indent: 50px;">
    May God grant us the grace to live our lives according in the mind and heart of Jesus so
that we may always be in the divine presence and do God’s holy will.
</p>
<p style="text-indent: 50px;">
    These we ask in the name of your Son, Jesus. Amen.
</p>