<div>
    <h4>Farewell Prayer</h4>
    <p>
        

O beloved Mother, the time has come for your departure from our home,

your home also for 14 days of your stay with us.

Our lips cannot express the joy overflowing in our hearts.

Inspired by your Love, Mother, you desired to be with us even for only a while. Thank you, Mother, thank you. Come back some other day.

We will wait for you with profound ardor.

Upon your departure, take with you our love, take with your our hearts. Never allow us to forget you nor to stray away from your care now and forever. Mother of Christ and our Mother, place us under the mantel of your love, wisdom and protection until your next visit to our home. Amen.
    </p>
</div>