<!-- <app-for-our-departed-loved-ones></app-for-our-departed-loved-ones>
<app-for-healing-and-special-intentions></app-for-healing-and-special-intentions>
<app-for-the-intentions-of-each-family-of-our-prayer-group></app-for-the-intentions-of-each-family-of-our-prayer-group> -->
<mat-dialog-content>
    <div *ngFor="let i of prayerIntentions">
        <h4> {{ i.title }} </h4>
        <ul *ngFor="let lovedOne of i.lovedOnes">
            <li>
                <i>
                    {{lovedOne}}
                </i>
            </li>
        </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>