<div>
    <h2>The Five Sorrowful Mysteries</h2>
    <!-- First Sorrowful Mystery -->
    <h4>The First Sorrowful Mystery – The Agony iin the Garden</h4>
    <span style="color: red;">Leader:</span>
    <p>
        Jesus prays in the Graden of Olives. The thought of His coming sufferings and of our sins cause Him to sweat
        blood.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        My Jesus, I will pray with all my heart.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Agony in the Garden in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the grace of contrition so that I may grieve over my sins
        which made Christ suffer.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Second Sorrowful Mystery -->
    <h4>The Second Sorrowful Mystery – The Scourging at the Pillar</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        our Lord jesus Christ is stripped, bound to a pillar, and cruelly scourged until His innocent Body is covered
        with wounds and blood.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will keep my body pure.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Scourging in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>

    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the Grace of patience so that I may endure all sufferings
        with resignation.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
    <!-- Third Sorrowful Mystery -->
    <h4>The Third Sorrowful Mystery – The Crowning with Thorns</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        A crown of thorns is pressed into the head of Jesus. His eyes are filled with tears and blood. His executioners
        mock and spit upon Him.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        My Jesus, I will banish unclean thoughts.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Crowning of Thorns in mind,
        we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the gift of mortification so that I may voluntarily suffer
        physical and spiritual pain for Christ the King.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fourth Sorrowful Mystery -->
    <h4>The Fourth Sorrowful Mystery – The Carrying of the Cross</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        Weighed down by the Cross, Jesus patiently walks the road to Calvary. Mary makes the Stations of the Cross with her dying Son.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        My Jesus, I will bear my cross patiently.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Carrying of the Cross in mind, we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son a love of the cross so that I may carry it all the days of my life.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fifth Sorrowful Mystery -->
    <h4>The Fifth Sorrowful Mystery – The Crucifixion on Calvary</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        Fastened to the cross by nails, Jesus, after three hours of agony, dies in the presence of His mother. 
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I accept the death God has prepared for me with all the pains that may accompany it.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Crucifixion on the Cross in mind, we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the
        Grace of zeal to be obedient unto death even to the death of the Cross.

    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
</div>