<div>
    <h4>Our Lady of Fatima</h4>
    <p>
        Dear Lady of Fatima, we come on bended knees<br>
        To beg your intercession, for peace and unity<br>
        Dear Mary, won’t you show us the right and shining way<br>
        We pledge our love and offer you a rosary each day.<br>
        You promised at Fatima each time that you appeared<br>
        To help us if we pray to you to banish war and fear.<br>
        Dear lady, on first Saturdays we ask your guiding hand<br>
        For grace and guidance here on earth and protection for our land.
    </p>
</div>