<h4 class="prayer-title">THE ROSARY CRUSADE PRAYER</h4>
<p>
    <strong> LEADER:</strong> Heavenly Father, we beg You, in the name of Jesus Christ, Your Son, to bless
our Family Rosary Crusade. Give all your people and us the courage and grace to make
the daily family rosary pledge and keep it faithfully.
</p>

<table class="table">
    <thead>
        <tr>
            <th>LEADER:</th>
            <th>ALL:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Queen of the most Holy Rosary</td>
            <td>keep our families</td>
        </tr>
        <tr>
            <td>Queen of the most Holy Rosary</td>
            <td>save our families</td>
        </tr>
        <tr>
            <td>Queen of the most Holy Rosary</td>
            <td>bless our families</td>
        </tr>
        <tr>
            <td>St. Therese, the Little Flower, model of holiness for us for our time</td>
            <td>pray for us</td>
        </tr>
        <tr>
            <td>St. Lorenzo Ruiz, patron of all Filipinos abroad</td>
            <td>pray for us</td>
        </tr>
        <tr>
            <td>The Immaculate Heart of Mary, Patroness of the Philippines and the U.S.</td>
            <td>pray for us</td>
        </tr>
        <tr>
            <td>Lady of Guadalupe, Patroness of the Americas and the unborn</td>
            <td>pray for us</td>
        </tr>
        <tr>
            <td>St. Francis Cabrini, Patron Saint of Immigrant</td>
            <td>pray for us</td>
        </tr>
    </tbody>
</table>