<h4 class="prayer-title">THE HOLY ROSARY</h4>
<div>
    In the name of the Father, and of the Son, and of the Holy Spirit. Amen. <span style="color: red;">(Kiss the
        crucifix of your rosary)</span>
</div>
<table>
    <tbody>
        <tr>
            <td class="speaker">
                <div>
                    <b>
                        Leader:
                    </b>
                </div>
            </td>
            <td>
                <div>
                    Our Father, who art in heaven,
                    hallowed be thy name.
                    Thy kingdom come, thy will be done,
                    on earth, as it is in heaven.
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <b>ALL:</b>
            </td>
            <td>
                <div>
                    Give us this day
                    our daily bread and forgive us our trespasses
                    as we forgive those who trespassed against us;
                    and lead us not into temptation,
                    but deliver us from evil. Amen
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>Leader:</b>
                </div>
            </td>
            <td>
                <div>
                    Let us pray for the increase of faith in God, hope in God, and love of God.
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>Leader:</b>
                </div>
            </td>
            <td>
                <div>
                    Hail Mary, Full of Grace,
                    The Lord is with thee.
                    Blessed art thou amongst women,
                    and blessed is the fruit of thy womb, Jesus.
                    <span style="color: red;">(Repeat 3X)</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>ALL:</b>
                </div>
            </td>
            <td>
                <div>
                    Holy Mary, Mother of God,
                    pray for us sinners now,
                    and at the hour of our death. Amen.
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>Leader:</b>
                </div>
            </td>
            <td>
                <div>
                    Glory be to the Father,
                    and to the Son,
                    and to the Holy Spirit.

                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>ALL:</b>
                </div>
            </td>
            <td>
                <div>
                    As it was in the beginning, is now,
                    and ever shall be,
                    world without end.
                    Amen.
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>ALL:</b>
                </div>
            </td>
            <td>
                <div>
                    O my Jesus, forgive us our sins, <br>
                    save us from the fires of hell, <br>
                    lead all souls into heaven, especially those <br>
                    in most need of Thy mercy.
                </div>
            </td>
        </tr>
        <tr>
            <td class="speaker">
                <div>
                    <b>ALL Sing:</b>
                </div>
            </td>
            <td>
                <div>
                    Ave, Ave, Ave Maria. <br>
                    Ave, Ave, Ave Maria.
                </div>
            </td>
        </tr>
    </tbody>
</table>