<div>
    <button mat-button [matMenuTriggerFor]="mysteries" class="mysteries-trigger">
        <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #mysteries="matMenu">
        <mat-radio-group [(ngModel)]="mystery" class="mysteries-group">
            <mat-radio-button [value]="1">G</mat-radio-button>
            <mat-radio-button [value]="2">J</mat-radio-button>
            <mat-radio-button [value]="3">L</mat-radio-button>
            <mat-radio-button [value]="4">S</mat-radio-button>
        </mat-radio-group>
    </mat-menu>
    <app-intro></app-intro>
    <!-- <app-prayer-intentions></app-prayer-intentions> -->
    <app-consecration-to-the-blessed-mother></app-consecration-to-the-blessed-mother>
    <!-- <app-act-of-consecration-to-the-sacred-heart></app-act-of-consecration-to-the-sacred-heart> -->
    <app-the-divine-mercy-chaplet></app-the-divine-mercy-chaplet>
    <app-the-holy-rosary></app-the-holy-rosary>

    <!-- <app-prayertotheholyspirit></app-prayertotheholyspirit>
    <app-hailmary></app-hailmary>
    <app-apostlescreed></app-apostlescreed>
    <app-eternalfather></app-eternalfather>
    <app-themostholyrosary></app-themostholyrosary>
    <p><span style="color: red;">(Sing) <br>
        </span> Ave, Ave, Ave Maria…</p> -->

    <div #mysteries></div>
    <container-element [ngSwitch]="mystery">
        <app-fivegloriousmysteries *ngSwitchCase="1"></app-fivegloriousmysteries>
        <app-fivejoyfulmysteries *ngSwitchCase="2"></app-fivejoyfulmysteries>
        <app-fiveluminousmysteries *ngSwitchCase="3"></app-fiveluminousmysteries>
        <app-fivesorrowfulmysteries *ngSwitchCase="4"></app-fivesorrowfulmysteries>
    </container-element>

    <div #hailHolyQueen></div>
    <app-hailholyqueen></app-hailholyqueen>
    <app-let-us-pray></app-let-us-pray>
    <app-prayertostmichael></app-prayertostmichael>
    <app-thememorare></app-thememorare>
    <div>
        <!-- Choose from -->
        <app-litanyoftheblessedvirginmary></app-litanyoftheblessedvirginmary>
        <!-- <app-litanyofthemostholynameofjesus></app-litanyofthemostholynameofjesus> -->
    </div>
    <app-the-rosary-crusade-prayer></app-the-rosary-crusade-prayer>
    <app-prayerofstgerttrudethegreat></app-prayerofstgerttrudethegreat>
    <app-fatimaprayer></app-fatimaprayer>
    <app-prayerofstignatiusofloyola></app-prayerofstignatiusofloyola>
    <app-prayerofstfrancis></app-prayerofstfrancis>
    <app-maranatha></app-maranatha>
    <!-- <app-consecrationofsacredheartofjesus></app-consecrationofsacredheartofjesus>
    <app-consecrationtothevirginmary></app-consecrationtothevirginmary> -->
    <app-farewellprayer></app-farewellprayer>
    <div #songs></div>
    <h4 style="text-decoration: underline;">Songs after the Rosary</h4>
    <app-ourladyoffatima></app-ourladyoffatima>
    <app-immaculatemother></app-immaculatemother>
    <app-let-there-be-peace-on-earth></app-let-there-be-peace-on-earth>
    <app-stjosephsong></app-stjosephsong>
</div>