<div>
    <h2>The Five Luminous Mysteries</h2>
    <!-- First Luminous Mystery -->
    <h4>The First Luminous Mystery – Jesus' Baptism in the Jordan</h4>
    <span style="color: red;">Leader:</span>
    <p>
        Jesus appeared in the Jordan and insisted John the Baptist baptizes Him. As this occurs, the Holy Spirit
        descended upon Him in the form of a dove while the Father proclaimed, "This is my beloved Son with whom I am
        well pleased."
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        As Christ was baptized I will submit also to His Father’s will.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Baptism of Jesus in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the grace to live the vows of my Baptism in union with Jesus
        my Lord.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Second Luminous Mystery -->
    <h4>The Second Luminous Mystery – Jesus' Miracle at the Wedding in Cana</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        When Christ changed water into wine, we see You, Mary, in guise of a teacher and intercessor as you urge the servants to do what Jesus commands.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        As Mary tells people to "Do whatever He tells you," I will do what Christ wants of me.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Wedding Feast in Cana in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>

    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, please intercede for me to overcome the temptations of the world,
        the flesh and the devil so that I may experience the joy of the Lord’s presence, power and love.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
    <!-- Third Luminous Mystery -->
    <h4>The Third Luminous Mystery – Jesus’ Proclamation of the Kingdom of God</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        As Jesus announced the Kingdom, He called all to conversion and forgiveness of sins, saying, "I came not to call the righteous, but sinners."
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will strive to be worthy to enter Christ's kingdom through His example.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of Jesus' Proclamation of the Kingdom of God in mind,
        we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, please obtain for me from your Son true and perfect contrition for my sins, sincere
        sacramental confession in humble trust, and the Grace to amend my life for the love of God
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fourth Luminous Mystery -->
    <h4>The Fourth Luminous Mystery – The Transfiguration</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        The Transfiguration shows the glory of the Godhead shining forth from the face of Christ.
        Peter, James and John witnessed Jesus’ face and clothes become dazzling with light, as He spoke with Moses and Elijah.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        As God revealed Himself to us, I will live my life through Christ always.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Transfiguration in mind, we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the Grace of His light here on earth so as to enjoy His glory in Heaven.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fifth Luminous Mystery -->
    <h4>The Fifth Luminous Mystery – Jesus' Institution of the Holy Eucharist</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        Christ offers His Body and Blood as food under the signs of bread and wine, instituting a sacrificial memorial of His death and resurrection for the salvation of the whole world.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will recieve Christ regularly at Holy Mass and consecrate myself to Him forever.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of Jesus instituting the Holy Eucharist in mind, we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the Grace to receive him often in the sacramental and
        spiritual Holy Communion, always worthily and in the spirit of thanksgiving.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
</div>