<div>
    <h4>Prayer to the Holy Spirit</h4>
    <p> In the name of the Father, of the Son and of the Holy Spirit. (Use Holy Water if you have it)</p>

    <p> Come Holy Spirit, fill the hearts of thy faithful and enkindle in them the fire of Thy Love. Send forth Thy Spirit
    and they shall be created. And Thou shall renew the face of the earth. Jesus, we gather in prayer today for love of
    You, for the conversion of sinners and in reparation for the sins committed against the Immaculate Heart of Mary.</p>

    <div>
        <span style="color: red;">(Repeat 3X)</span>
    </div>
    <p> Come Holy Spirit, come by means of the powerful intercession of the Immaculate Heart of Mary, your well-beloved
    Spouse. </p>

</div>