<div>
    <h4>Prayer for the End of the Corona Virus Pandemic</h4>
    <p>
        May we who are merely inconvenienced, remember those whose lives are at stake.
        May we who have no risk factors, remember those most vulnerable.
        May we who have the luxury of working from home, remember those who must choose between preserving their health
        or making their rent.
        May we who have the flexibility to care for our children when their schools close, remember those who have no
        options.
        May we who have to cancel our trips, remember those that have no place to go.
        May we who are losing our margin money in the tumult of the economic market, remember those who have no margin
        at all.
        May we who settle in for a quarantine at home, remember those who have no home.
        During this time when we cannot physically wrap our arms around each other, let us find ways to be the loving
        embrace of God to our neighbors. Amen.
    </p>
</div>