<div>
    <h4>Prayer of St. Francis</h4>
    <p>
        Lord, make me an instrument of your peace, <br>
        Where there is hatred, let me sow love, <br>
        Where there is injury, pardon, <br>
        Where there is doubt, faith, <br>
        Where there is despair, hope, <br>
        Where there is darkness, light, <br>
        Where there is sadness, joy. <br>
<br>
        O Divine Master, <br>
        Grant that I may not so much seek, <br>
        To be consoled as to console, <br>
        To be understood as to understand, <br>
        To be loved as to love. <br>
        For it is in giving that we receive, <br>
        It is in pardoning that we are pardoned, <br>
        And it is in dying that we are born to eternal life. <br>

    </p>
</div>