<div>
    <h4>Prayer During the Corona Virus Pandemic</h4>
    <p>
        O clement, O loving, O sweet Mother Mary, <br>
        We, your children of every nation, turn to you in this pandemic. <br>
        Our troubles are numerous; our fears are great. <br>
        Grant that we might deposit them at your feet, <br>
        Take refuge in your Immaculate Heart, and obtain peace, healing, rescue,
        and timely help in all our needs. <br>
        You are our Mother. <br>
        Pray for us, the health workers, the first responders, the priests and religious, and all those who risk their
        lives to bring help to the sick and the healthy, to your Son. Amen.

        Saint Joseph, pray for us. Ss. Francisco and Jacinta, pray for us.

    </p>
    
</div>