<div>
    <h4 class="prayer-title">The Memorare</h4>
    <p style="text-indent: 50px;">
        Remember O Most gracious Virgin Mary, that never was it known, that anyone who fled to thy protection, implored
        thy help or sought thy intercession, was left unaided. Inspired by this confidence, we fly unto thee, O Virgin
        of virgins, our mother. To thee do we come, before thee we stand, sinful and sorrowful. O Mother of the Word
        Incarnate, despise not our petitions, but in thy mercy, hear and answer us. Amen.

    </p>
</div>