<div>
    <h2>The Five Glorious Mysteries</h2>
    <!-- First Glorious Mystery -->
    <h4>The First Glorious Mystery – The Resurrection</h4>
    <span style="color: red;">Leader:</span>
    <p>
        Jesus rises from the dead (Mk. 16:6:8), glorious and immortal, on Easter Sunday. He conquers death and opens the
        gates of Heaven. Let our prayer meeting today raise us up and renew our lives by the Spirit that’s within us.
        Through baptism, our souls, dead in the tomb of original sin, radiate divine grace. Just as Christ rose and
        appeared to many, so should we appear to the world as followers of Christ, radiating virtue.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        We will live with Christ so that we may rise with Him.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Resurrection in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for us from your Son the grace of a renewal of Spiritual fervor, so that we may
        realize our richest gift is the Catholic Faith.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Second Glorious Mystery -->
    <h4>The Second Glorious Mystery – The Ascension</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        As His mother, Mary, the Apostles and disciples looked on, Jesus was lifted up and a cloud took Him out of their
        sight…”This Jesus, who was taken up from you into heaven, will come in the same way as you saw Him go into
        Heaven.” Acts 1:9,11
        Our Father, make us joyful in the Ascension of your Son Jesus Christ. May we follow Him into the new creation,
        for His Ascension is our glory and our hope.

    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will follow the example of Christ on earth
        because I hope to be with Him in Heaven.

    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Ascension in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>

    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for us from your Son the Grace of detachment so that understanding the vanity of
        worldly things, we may adhere to you and heavenly realities.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
    <!-- Third Glorious Mystery -->
    <h4>The Third Glorious Mystery – The Descent of the Holy Spirit</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        The Holy Spirit descends upon Mary and the Apostles (Acts 1-4). Ten days after the Ascension, the Holy Spirit
        descends in tongues of fire upon Mary and the disciples.

    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will love God and my neighbor.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Descent of the Holy Spirit in mind,
        we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for us from your Son the gift of silence
        so that we may hear the Holy Spirit speaking in the temple that is our body.

    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fourth Glorious Mystery -->
    <h4>The Fourth Glorious Mystery – The Assumption</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        The Assumption of Mary into Heaven (Song of Songs 2:3-6). The Apostles go to the tomb where they had laid the
        body of the Mother of God. They find that the angels had borne their Queen to heaven.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will praise Mary through the Rosary.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Assumption in mind, we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for us from your Son the grace to desire Heaven above everything in the world –
        power, wealth, honors.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fifth Glorious Mystery -->
    <h4>The Fifth Glorious Mystery – The Coronation</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        Mary is crowned as Queen of Heaven and Earth (Lk 1:51-54). The Mother of God, to the joy of all the angels and
        saints, is crowned Queen of Heaven by her Divine Son.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will love Mary as my Queen and Mother.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Coronation in mind, we pray...

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the
        Grace of perseverance.

    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
</div>