<div>
    <h4>Consecration to the Sacred Heart of Jesus</h4>
    <p>
        Sacred Heart of Jesus, with infinite love, <br>
        broken by my ingratitude,<br>
        Pierced by my sins, yet loving me still,<br>
        Accept the consecration that I make to You,<br>
        Of all that I am and all that I have.<br>
        Take every faculty of my soul and body,<br>
        And draw me day by day,<br>
        Nearer and nearer to Your Sacred Side,<br>
        And there, as I can bear the lesson,<br>
        Teach me Your blessed ways.<br>
        Amen.
        
    </p>
</div>