<div>
    <h2>The Five Joyful Mysteries</h2>
    <!-- First Joyful Mystery -->
    <h4>The First Joyful Mystery – The Annunciation, Gabriel appears to Mary</h4>
    <span style="color: red;">Leader:</span>
    <p>
        The Angel Gabriel announces to the Virgin Mary that God wishes her to become the Mother of His Son. Mary obeys
        with humility and joy.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will be humble and courteous towards all.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Annunciation in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for us from your Son the grace of humility so that I may recite the Rosary with
        devotion.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Second Joyful Mystery -->
    <h4>The Second Joyful Mystery – The Visitation, Mary visits her cousin Elizabeth</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        Mary visits St. Elizabeth, who is to be the mother of St. John the Baptist. She remains and assists Elizabeth lovingly
        for three months.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will help my neighbor in need.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Visitation in mind, we pray...
    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>

    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the Grace of fraternal charity so that I may always put
        myself out for my neighbor, loving him in God.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
    <!-- Third Joyful Mystery -->
    <h4>The Third Joyful Mystery – The Nativity, Jesus is born in Bethlehem</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        Jesus Christ, the Son of God is born in a stable. His Mother places Him in a manger. He is visited by the Shepherds and Wise Men.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Resolution: Christ became man; I will become Christlike.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Nativity in mind, we pray…

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Mary, Queen of the Rosary, as I kneel before the Crib close to you and Joseph, obtain for me from your Son the grace
        that I may be poor in spirit.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fourth Joyful Mystery -->
    <h4>The Fourth Joyful Mystery – The Presentation of the Child Jesus in the Temple.</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        In obedience to the law of Moses, Mary and Joseph take the infant Jesus to the Temple at Jerusalem to present Him to His
        Heavenly Father.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will obey the laws of God and His church as Jesus, Mary and Joseph did.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Presentation of Jesus in mind, we pray…

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the Grace of Chastity in thought, word and deed, so that I may avoid
        sins of the flesh.
    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>

    <!-- Fifth Joyful Mystery -->
    <h4>The Fifth Joyful Mystery – The Finding of Jesus in the Temple</h4>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        Having lost Jesus, Mary and Joseph seek Him. After three days, they find Him in the Temple talking with the learned men.
    </p>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        I will fulfill my daily duties.
    </p>
    <div>
        <span style="color: red;">Leader:</span>
    </div>
    <p>
        With the image of the Finding of Jesus in mind, we pray…

    </p>
    <app-ourfather></app-ourfather>
    <app-hailmary [data]="data"></app-hailmary>
    <app-glorybe></app-glorybe>
    <app-omyjesus></app-omyjesus>
    <div>
        <span style="color: red;">All:</span>
    </div>
    <p>
        Our Lady of the Rosary, obtain for me from your Son the Grace of zeal so that i may be industrious for the things of God.

    </p>
    <div>
        <span style="color: red;">Sing:</span>
    </div>
    <p>
        Ave, Ave, Ave Maria…
    </p>
</div>