<div>
    <p>
        I believe in God, <br>
        the Father Almighty, <br>
        Creator of heaven and earth, <br>
        and in Jesus Christ, His only Son, our Lord, <br>
        who was conceived by the Holy Spirit, <br>
        born of the Virgin Mary, <br>
        suffered under Pontius Pilate, <br>
        was crucified, died and was buried; <br>
        He descended into hell; <br>
        on the third day He rose again from the dead; <br>
        He ascended into heaven, <br>
        and is seated at the right hand of God the Father Almighty; <br>
        from there He will come to judge the living and the dead. <br>
        I believe in the Holy Spirit, <br>
        the Holy Catholic Church, <br>
        the communion of Saints, <br>
        the forgiveness of sins, <br>
        the resurrection of the body, <br>
        and life everlasting. <br>
        Amen.
    </p>
</div>