<h4>Let There Be Peace On Earth</h4>

<button mat-icon-button (click)="playVideo()">
    <mat-icon>play_circle</mat-icon>
</button>
<p>
    Let there be peace on earth <br>
    And let it begin with me <br>
    Let There Be Peace on Earth <br>
    The peace that was meant to be <br>
    With God as our Father <br>
    Brothers all are we <br>
    Let me walk with my brother <br>
    In perfect harmony. <br> <br>
    Let peace begin with me <br>
    Let this be the moment now. <br>
    With ev'ry step I take <br>
    Let this be my solemn vow <br>
    To take each moment and live <br>
    Each moment in peace eternally <br>
    Let there be peace on earth <br>
    And let it begin with me <br>
</p>